/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

::selection {
    background-color: #a389d5;
    color: #ffebe7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arbutus Slab', serif;
}

/* MENÚ DE NAVEGACIÓN */
.navbar {
    background-color: grey;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar a {
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 0.875em 0.571em;
    align-self: center;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

#toggle {
    display: none;
}

.togglearea {
    background-color: grey;
    border-bottom: 0.125em solid white;
    color: white;
    padding: 0.625em;
    display: flex;
    justify-content: flex-end;
}

.togglearea label {
    background-color: white;
    height: 2.813em;
    width: 3.125em;
    color: black;
    border-radius: 0.375em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.togglearea label span {
    background-color: black;
    height: 0.250em;
    width: 70%;
    margin: 0.125em 0em;
}

.togglearea {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        display: none;
    }
    #toggle:checked + .navbar {
        display: flex;
    }

    .togglearea {
        display: flex;
    }
}

/* BIENVENIDA */
.welcome {  
    justify-content: center;
    width: 100vw;
    height: 100vh;  
    display: flex;
    background: linear-gradient(to bottom, grey 0%, #ab93c9 50%, #ab93c9 100%);
}

.welcome .leftSection {
    padding: 1.563em;
    align-self: center;     
}

#dibujoIris {
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
}

.welcome .rightSection {
    padding: 1.563em;
    margin-top: 7em;
    margin-left: 7em;    
}

.welcome .rightSection h3 {
    font-size: 3em;
    margin-bottom: 0.8em;
}

.welcome .rightSection h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.welcome .rightSection h1 {
    font-size: 2em;
    margin-bottom: 0.3em;
}

@media screen and (max-width: 769px) {
    .welcome { 
        flex-wrap: wrap;
        text-align: center;  
    }

    .welcome .leftSection {
        padding: 0;
        align-self: center;     
    }

    .welcome .rightSection {
        padding: inherit;
        margin-top: 0;
    }

    .welcome .rightSection h3 {
        font-size: 1.5em;
        margin-bottom: 0.4em;
    }
    
    .welcome .rightSection h2 {
        font-size: 1.25em;
        margin-bottom: 0.25em;
    }
    
    .welcome .rightSection h1 {
        font-size: 1em;
        margin-bottom: 0.15em;
    }

    #dibujoIris {
        width: 50%;
        height: 50%;
    }
}

/* SOBRE MI */
.aboutMe {
    display: flex;
    background: linear-gradient(to bottom, #ab93c9 0%, #d698b9 50%, #d698b9 100%);
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.aboutMe .rightSection {
    padding: 25px;
    text-align: center;
}

.aboutMe .rightSection h4 {
    margin: 0.8em;
    font-size: 1.5em;
}

.aboutMe p {
    text-align: justify;
    text-indent: 2.5em;
}

#gatoCoder {
    height: 100px;
    width: 100px;
    margin: 0.8em;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
}

.aboutMe .leftSection {
    padding: 25px;
}

#fotoCoder {
    height: 450px;
    width: 450px;
    border-radius: 2.5em;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
}

@media screen and (max-width: 769px) {
    .aboutMe { 
        flex-wrap: wrap;
        text-align: center
    }
}

/* TECNOLOGÍAS */
.skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom, #d698b9 0%, #eda1ab 50%, #eda1ab 100%);
    padding: 1.563em;
    font-size: 1.5em;
    width: 100vw;
    height: 100vh;
}

#technologies {
    height: 40%;
    padding: 1.563em;
    margin-top: 1.563em;
    margin-bottom: 1.563em;
}

/* PROYECTOS */
.projects {
    width: 100vw;
    height: 100vh;  
    text-align: center;
    padding: 1.563em;
    justify-content: center;
    background: linear-gradient(to bottom, #eda1ab 0%, #ffbea3 50%, #ffbea3 100%);
}

.projects h4 {
    margin: 0.8em;
    font-size: 1.5em;
}

.projectsList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 769px) {
    .projectsList {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.project {
    position: relative;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.project > h5 {
    font-size: 1em;
    margin: 0.8em
}

.project > img {
    width: 300px;
    height: 180px;
    max-width: 50vw;
    max-height: 30vw;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.repoButton, .demoButton {	
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #3a8a9e;
    padding: 4.5px 5.5px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #e1e2ed;
    margin: 2.5px;
}

.repoButton:hover, .demoButton:hover {
	background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
}

.repoButton:active, .demoButton:active {
	position: relative;
	top: 1px;
}

/* CONTACTO */

.contact {
    width: 100vw;
    height: 100vh;
    display: flex;  
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #ffbea3 0%, #ffeca3 50%, #ffeca3 100%);
}

.contact h4 {
    margin: 0.8em;
    font-size: 1.5em;
}

/* #miCaraTren {
    height: 15em;
    width: 15em;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.44);
} */




@media(max-width:800px) {
    .contact {
        flex-direction: column;
        justify-content: center;
    }
}

.contact>div:nth-child(2) {
    background-image: url("images/iris-tren.jpg");
    background-size: cover;
    margin: 2em;
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 2em;
    height: 220px;
}

 .contact .emailButton {
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #3a8a9e;
    padding: 4.5px 5.5px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #e1e2ed;
    margin: 2.5px;
    
}

.contact .emailButton:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
}

.contact .socialLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rrss {
    padding: 2em;
}

/* FOOTER */
/* footer {
    background: linear-gradient(to bottom, #ffeca3 0%, white 50%, white 100%);
} */