/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

::selection {
    background-color: a389d5;
    color: ffebe7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arbutus Slab', serif;
}

/* MENÚ DE NAVEGACIÓN */
.navbar {
    background-color: grey;
    display: flex;
    justify-content: center;

    a {
        color: white;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        /* text-transform: uppercase; */
        padding: 0.875em 0.571em;
        align-self: center;
    }

    a:hover {
        background-color: white;
        color: black;
    }
}

#toggle {
    display: none;
}

.togglearea {
    background-color: grey;
    border-bottom: 0.125em solid white;
    color: white;
    padding: 0.625em;
    display: flex;
    justify-content: flex-end;

    label {
        background-color: white;
        height: 2.813em;
        width: 3.125em;
        color: black;
        border-radius: 0.375em;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
            background-color: black;
            height: 0.250em;
            width: 70%;
            margin: 0.125em 0em;
        }
    }
}

.togglearea {
    display: none;
}

@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
        display: none;
    }

    #toggle:checked+.navbar {
        display: flex;
    }

    .togglearea {
        display: flex;
    }
}

/* BIENVENIDA */
.welcome {
    display: flex;
    flex-wrap: wrap;
    background-image: url("https://cdn.pixabay.com/photo/2013/04/03/21/25/cereals-100263_960_720.jpg");

    .leftSection {
        padding: 1.563em;
    }

    .rightSection {
        padding: 1.563em;
        margin-top: 7em;
        margin-left: 7em;

        h3 {
            font-size: 3em;
            margin-bottom: 0.8em;
        }

        h2 {
            font-size: 2.5em;
            margin-bottom: 0.5em;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 0.3em;
        }
    }
}
    
.aboutMe {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    .rightSection {
        background-color: lightcoral;
        }
        .leftSection {
            background-color: aqua;
        }
}